<h3>When you receive a code via sms on this phone enter it below</h3>
<%= form_for :challenge, url: "code_check" do |form| %>
  <%= form.number_field :code %>
  <%= form.submit "Confirm!" %>
<% end  %>